*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background: #f1f1f1;
}
.social-media{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
   
}
.social-media div { 
    display: inline;
    
}
.social-media div a{ 
    display: inline-flex;
    width: 80px;
    height: 80px;
    background-color: #2c3e50;
    font-size: 40px;
    color: #fff;
    margin: 0 6px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
.social-media  a i{
    transition: 0.5s all;
}
.social-media .facebook a:hover{
    background: #4267b2;
}
.social-media .instagram a:hover{
    background: #d48713;
}
.social-media .twitter a:hover{
    background: red;
}
.social-media .youtube a:hover{
    background: blue;
}
.social-media .twitch a:hover{
    background: green;
}
.social-media .tiktok a:hover{
    background: rgb(170, 209, 30);
}
.social-media .whatsapp a:hover{
    background: rgb(196, 34, 134);
}
.social-media .pinterest a:hover{
    background: rgb(231, 100, 155);
}
.social-media .linkedin a:hover{
    background: rgb(163, 196, 163);
}
.social-media  a:hover> i{
    transform:scale(1.6) rotate(360deg);
  
}